*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Raleway", sans-serif;
}

body{
    overflow-x: hidden;
}

header{
    height: 10vh;
    background: #fafafa;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 4%;
}

header a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #193559;
    font-size: 20px;
    font-weight: 500;
}

header a img{
    margin-top: 5px;
    width: 50px;
    margin-right: 10px;
}

header ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

header ul li a{
    color: #899bb1;
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s ease-in;
}

header ul li a:hover{
    color: #193559;
}

main .header-pg{
    background-image: linear-gradient( to right, #19355980, #1935593a, #19355980 ), url(/src/img/laura-spina-C6_5dFMmdh4-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
}

main .header-pg h1{
    width: 800px;
    font-size: 50px;
    margin-top: -60px;
    margin: 0 8%;
    color: #fafafa;
    text-shadow: 5px 5px 5px #2b2e31;
}

main .header-pg p{
    width: 500px;
    margin: 0 8%;
    color: #fafafa;
    font-weight: 400;
    font-size: 20px;
    text-shadow: 5px 5px 5px #2b2e31;
    text-align: start;
}

/* Sobre */

.header-sobre{
    background-color: #fafafa;
}

.container-sobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px 0;
    background-color: #4e4e4e1a;
    margin: 80px 0;
    box-shadow: 5px 5px 5px #2b2e312f;

}

.txt-sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0 4%;
}

.txt-sobre h2{
    color: #193559;
    text-shadow: 2px 2px 2px #42424223;
    font-size: 35px;
    text-align: center;
    margin-bottom: 5px;
}

.txt-sobre span{
    font-size: 18px;
    font-weight: bold;
    color: #485a72;
    text-align: start;
    width: 710px;
    border-bottom: solid 2px #ffffff;
    padding-bottom: 10px;
}

.txt-sobre p{
    margin-top: 10px;
    font-weight: 600;
    color: #485a72;
    letter-spacing: 1.5px;
    font-size: 18px;
    text-align: start;
    margin-top: 15px;
    width: 710px;
}

.img-sobre{
    padding: 20px;
    border-radius: 10px;
}

.img-sobre img{
    height: 350px;
    width: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #2b2e312f;
}

.especialidades{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-bottom: 200px;
}

.txt-especialidades{
    margin: 0 4%;
    margin-bottom: 50px;
    color: #193559;
    text-shadow: 2px 2px 2px #42424223;
    font-size: 25px;
}

.txt-especialidades span{
    font-size: 20px;
    font-weight: bold;
    color: #485a72;
}

.container-box{
    display: flex;
    align-items: center;
    margin: 0 4%;
    background-color: #4e4e4e1a;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #2b2e312f;
    margin-bottom: 20px;
}

.container-box i{
    padding: 20px 15px;
    background-color: #193559;
    margin-right: 5px;
    border-radius: 5px;
    color: #fafafa;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 5px 5px 5px #2b2e312f;
}

.txt-box{
    margin-left: 5px;
    gap: 5px;
    color: #485a72;
    padding: 5px;
}








/* Mobile menu */

.mobile-menu{
    display: none;
    cursor: pointer;
    margin-top: 10px;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #193559;
    margin: 7px;
    border-radius: 5px;
    transition: 0.3s;
}

/* Menu Responsivo */

@media (max-width: 900px){
    body{
        overflow-x: hidden !important;
    }

    .logo img{
        margin-top: 10px;
    }

    main .header-pg h1{
        margin-top: -80px !important;
        font-size: 35px;
        width: 90%;
        margin: 0 4%;
    }

    main .header-pg p{
        font-size: 20px;
        width: 70% !important;
        margin: 0 4%; 
    }

    /* Sobre */

    .container-sobre{
        width: 100%;
        height: 100vh;

    }

    .txt-sobre span{
        height: auto;
        font-size: 16px;
        width: 300px !important;
        text-align: center;
        margin-bottom: 20px;
    }

    .txt-sobre p{
        text-align: center;
        width: 300px;
    }

    .img-sobre{
        display: none;
    }

    .logo-txt{
        display: none;
    }

    /* Especialidades*/

    .especialidades{
        margin-bottom: 1000px !important;
    }

    .txt-especialidades{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 5px;
    }

    .container-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .container-box h3, p{
        text-align: center;
    }







    
    .nav-list{
        position: absolute;
        top: 10vh;
        right: 0;
        width: 60vw;
        height: 90vh;
        background: #193559;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        display: none; 
        transform: translateX(100%);
        transition: transform 0.3s ease-in;

    }

    .nav-list li{
        opacity: 0;
    }

    .nav-list li a{
        color: #fafafa;
    }

    .nav-list li a:hover{
        color: #899bb1;
    }

    .mobile-menu{
        display: block;
    }

    .nav-list.active{
        transform: translateX(0);
        display: flex;
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu.active .line1{
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2{
        opacity: 0;
    }

    .mobile-menu.active .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }

}